.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--primary-orange);
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--primary-width);
  margin-bottom: 2rem;
}

@media only screen and (max-width: 750px) {
  .bodyContainer {
    padding: 1rem;
  }
}
