.container {
  position: absolute;
  top: 20%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  overflow-y: scroll;
  padding: 2rem;
  display: block;
  background-color: #fff;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: var(--primary-orange);
}

.button {
  margin-top: 2rem;
  width: 95%;
  margin-left: 1rem;
  background-color: var(--primary-orange);
  border: 0;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  color: var(--primary-white);
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s box-shadow;
}

.button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.addButton {
  background-color: var(--primary-green);
}

.members {
  margin-top: 2rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.leftMargin {
  margin-left: 1rem;
}

@media only screen and (max-width: 750px) {
  .container {
    top: 15%;
    left: 5%;
    right: 5%;
    bottom: 15%;
    padding: 1rem;
  }
}
